<div class="container">
  <h2 class="text-center">Contactez-moi</h2>
  <hr class="bg-danger w-25">
  <div class="bg-light p-4 rounded border-bottom border-white">
    <div class="row">
      <a data-toggle="tooltip" data-placement="top" title="Visitez mon linkedIn" class="p-5 col-12 col-sm-3" href="https://www.linkedin.com/in/belal-siddique-66595a184/"><img src="assets/img/linkedIn.png" width="50" height="50" alt="linkedIn"></a>
      <a data-toggle="tooltip" data-placement="top" title="Visitez mon GitHub" class="p-5 col-12 col-sm-3" href="https://github.com/xxBeloule"><img src="assets/img/github.png" width="50" height="50" alt="github"></a>
      <a data-toggle="tooltip" data-placement="top" title="Envoyez-moi un courriel" class="p-5 col-12 col-sm-3" href="mailto:trezaaqq@hotmail.fr"><img src="assets/img/mail.png" width="50" height="50" alt="Mail"></a>
      <a data-toggle="tooltip" data-placement="top" title="Téléchargez mon CV en pdf" class="p-5 col-12 col-sm-3" href="assets/cv/CV-Belal-SIddique-V1.pdf" target="_blank"><img src="assets/img/downloaD.png" width="50" height="50" alt="Mail"></a>
    </div>
  </div>
</div>
