<div class="media">
  <img class="img-thumbnail d-flex align-self-start mr-3" width="200" height="200" src="assets/img/imagecv.jpg" alt="Photo CV">
  <div class="media-body">
    <h5 class="mt-0">Bonjour et bienvenue sur mon curriculum vitae numérique.</h5>
    <hr class="w-25">
    <p>Je m'appelle Belal SIDDIQUE, en formation de développeur web et web mobile.<br>Je suis à la recherche d'une alternance en contrat de professionnalisation sur une durée de 12 mois afin de préparer le titre de concepteur développeur d'applications (BAC+3/BAC+4).</p>
    <p>Au rythme de trois semaines en entreprise et une semaine en école, je suis disponible à compter de fin Septembre pour préparer le titre.</p>
    <p><i>Ce CV numérique responsive a été propulsé avec HTML 5, CSS 3, BOOSTRAP 4, et AngularJs.<i></p>
  </div>
</div>
