<div class="m-5 shadow">
  <div class="bg-white p-5 text-center border">
    <p class="font-weight-bold mediap text-center">Mes projets</p>
    <div class="row">
    <div class="m-2 card" style="width: 18rem;">
  <img class="img-thumbnail card-img-top" src="assets/img/LeCoinLecture.png" alt="Image représentant le site de Le coin lecture">
  <div class="card-body">
    <h5 class="card-title">Le coin lecture</h5>
    <p class="card-text">Site e-commerce réalisé en AngularJS avec l'aide de deux apprenants de La Manu, durant 21 heures.</p>
    <a href="https://la-manu-amiens-promo-2.github.io/LeCoinLecture/#!/home" target="_blank" class="btn btn-dark">Accéder au projet</a>
  </div>
</div>
<div class="m-2 card" style="width: 18rem;">
  <img class="img-thumbnail card-img-top" src="assets/img/Elements.png" alt="Image représentant le site d'Elements">
  <div class="card-body">
    <h5 class="card-title">Elements</h5>
    <p class="card-text">Site e-commerce réalisé en Javascript avec l'aide de deux apprenants de La Manu, durant 21 heures.</p>
    <a href="https://la-manu-amiens-promo-2.github.io/ELEMENTS/" target="_blank" class="btn btn-dark">Accéder au projet</a>
  </div>
</div>
<div class="m-2 card" style="width: 18rem;">
  <img class="img-thumbnail card-img-top" src="assets/img/Oscaro.png" alt="Image représentant le site d\'Oscaro">
  <div class="card-body">
    <h5 class="card-title">Copie d'Oscaro</h5>
    <p class="card-text">Maquette de la page d'accueil d'Oscaro avec l'aide de deux apprenants de La Manu, durant 14 heures.</p>
    <a href="https://xxbeloule.github.io/TP-OSCARO/" target="_blank" class="btn btn-dark">Accéder au projet</a>
  </div>
</div>
</div>
    </div>
    </div>
